<footer id="footer">
    <div class="holder">
        <ul class="menu">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact </a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Privacy </a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Help</a></li>
        </ul>
        <ul class="social">
            <li><a href="https://www.facebook.com/Realconnex1" target="_blank"><img src="/img/fb.png" alt=""></a></li>
            <li><a href="https://twitter.com/Realconnex" target="_blank"><img src="/img/tw.png" alt=""></a></li>
            <li><a href="http://www.linkedin.com/groups/Commercial-Real-Estate-Professional-Network-5040462?goback=.gna_5040462 " target="_blank"><img src="/img/in.png" alt=""></a></li>
        </ul>
        <span class="copy">&copy; 2013 All rights reserved RealConneX LLC</span>
    </div>
</footer>