<nav class="menu-links">
    <ul>
        <li>
            <strong class="icon">
                <img src="/img/icon-1.png" alt="" width="27" height="64">
            </strong>
            <span>Developers & Sponsors</span>
            <script type="text/template-tab" class="tabText">
                <p>Welcome to RealConnex. A game changer for Developers, Sponsors, GP's.</p>
                <p>Use RealConnex to find profiled real estate investors, lenders, advisors, JV partners and all the other professional services you need regardless of deal size. Think Match.com meets a more relevant LinkedIn for the real estate professional</p>
            </script>
        </li>
        <li>
            <strong class="icon">
                <img src="/img/icon-2.png" alt="" width="28" height="64">
            </strong>
            <span>Owners & Operators</span>
            <script type="text/template-tab" class="tabText">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim illum ipsam, modi nemo perferendis ut velit! Dolorem eaque ratione sapiente!</p>
            </script>
        </li>
        <li>
            <strong class="icon">
                <img src="/img/icon-3.png" alt="" width="18" height="64">
            </strong>
            <span>Investors</span>
            <script type="text/template-tab" class="tabText">
                 <p>Welcome to RealConnex. A game changer for Developers, Sponsors, GP's.</p>
                <p>Use RealConnex to find profiled real estate investors, lenders, advisors, JV partners and all the other professional services you need regardless of deal size. Think Match.com meets a more relevant LinkedIn for the real estate professional</p>
            </script>
        </li>
        <li>
            <strong class="icon">
                <img src="/img/icon-4.png" alt="" width="39" height="64">
            </strong>
            <span>Lenders</span>
            <script type="text/template-tab" class="tabText">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim illum ipsam, modi nemo perferendis ut velit! Dolorem eaque ratione sapiente!</p>
            </script>
        </li>
        <li>
            <strong class="icon">
                <img src="/img/icon-5.png" alt="" width="30" height="64">
            </strong>
            <span>Advisory</span>
            <script type="text/template-tab" class="tabText">
                 <p>Welcome to RealConnex. A game changer for Developers, Sponsors, GP's.</p>
                <p>Use RealConnex to find profiled real estate investors, lenders, advisors, JV partners and all the other professional services you need regardless of deal size. Think Match.com meets a more relevant LinkedIn for the real estate professional</p>
            </script>
        </li>
        <li>
            <strong class="icon">
                <img src="/img/icon-6.png" alt="" width="32" height="64">
            </strong>
            <span>Professional Services</span>
            <script type="text/template-tab" class="tabText">
                 <p>Welcome to RealConnex. A game changer for Developers, Sponsors, GP's.</p>
                <p>Use RealConnex to find profiled real estate investors, lenders, advisors, JV partners and all the other professional services you need regardless of deal size. Think Match.com meets a more relevant LinkedIn for the real estate professional</p>
            </script>
        </li>
        <li>
            <strong class="icon">
                <img src="/img/icon-7.png" alt="" width="28" height="64">
            </strong>
            <span>Build, Design, Engineering</span>
            <script type="text/template-tab" class="tabText">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim illum ipsam, modi nemo perferendis ut velit! Dolorem eaque ratione sapiente!</p>
            </script>
        </li>
    </ul>
</nav>